.about {
    display: grid;
    grid-template-columns: minmax(0, 40em) minmax(0, 30em);
    justify-content: center;
    padding-block-end: 2rem;
    h1 {
        font-size: 3rem;
        margin-block-start: 4rem;
        font-weight: 700;
    }
    .about-infos {
        display: flex;
        flex-direction: column;
    }
    h3 {
        font-weight: 700;
        display: flex;
    }
    span {
        padding-inline-end: .5rem;
    }
    .under {
        padding-block-start: 1.3rem;
    }
}

@media (max-width: 35em) {
    .about {
        display: block;
        h1 {
            text-align: center;
            font-size: 3.5rem;
            margin-block-start: 4rem;
            font-weight: 700;
        }
    }
}

@media (max-width: 60em) {
    .about {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       
        img{
            display: none;
        }
        h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }
        h3 {
            display: block;
            text-align: center;
            font-weight: 700;
        }
    }
}