header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-inline: 6.25rem;
    background-color: #EFEFEF;
    .logo {
        width: 7.5rem;
        height: 5rem;
    }
  }   

  /* Responsive Adjustments */
@media (min-width: 768px) {
  .nav-menu {
    width: 750px;
  }
}
/*Medium Screens */
@media (min-width: 922px) {
  .nav-menu {
    width: 970px;
  }
}
/*Large Screens */
@media (min-width: 1200px) {
  header {
    justify-content: left;
  }
  .nav-menu {
    width: 1170px;
  }
}

/* Burger Icon Container */
.burger-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* Burger Icon Lines */
.burger-line {
  width: 80%;
  height: 3px;
  background-color: #0000d3;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
}

/* Checkbox Hack */
#burger-toggle {
  display: none;
}

/* Navigation Styles */
.nav-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #EFEFEF;
  transition: right 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: -4px 0 15px #00000033;
  overflow-y: auto;
  padding-top: 100px;
  z-index: 5;
  .social-media {
            padding-block-start: 2rem;
            display: flex;
            justify-content: center;
            gap: 1.4rem;
            align-items: center;
            svg {
              width: 1.5rem;
            }
    }
}

.nav-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff0d;
  backdrop-filter: blur(10px);
}

.nav-menu ul {
  list-style-type: none;
}

.nav-menu ul li {
  margin: 0 15px;
  border-bottom: 1px solid #ffffff1a;
}

.nav-menu ul li a {
  color: #0000d3;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.nav-menu a:active {
  color: #ff5500;
}

.nav-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  transition: left 0.3s ease;
}

.nav-menu ul li a:hover::after {
  left: 0;
}

/* Burger Icon Animation on Checkbox Checked */
#burger-toggle:checked ~ .burger-container .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#burger-toggle:checked ~ .burger-container .burger-line:nth-child(2) {
  opacity: 0;
}

#burger-toggle:checked ~ .burger-container .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation Slide In */
#burger-toggle:checked ~ .nav-menu {
  right: 0;
}
