.hero {
    padding-block-start: 3rem;
    display: grid;
    grid-template-columns: minmax(0, 30rem) minmax(0, 40rem);
    justify-content: center;
    padding-block-end: 6.5rem;
    .hero-infos {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        text-align: left;
    }
    h1 {
        font-size: 4.5rem;
        min-width: 6rem;
    }
    .about-me-btn {
        padding-block-start: 2rem;
        padding-block-end: 1.3rem;
        font-weight: 700;
        .full-btn {
            background-color: #ff5500;
            color: #fffdf9;
            border: none;
            transition: all ease-in-out 500ms;
        }
        .full-btn:hover {
           background-color: #fffdf9; 
           color: #ff5500;
           border: 3px solid #ff5500;
           transition: all ease-in-out 500ms;
        }
    }
    a {
        text-decoration: none;
        font-size:1rem;
        padding-block: 1rem;
        padding-inline: 2rem;
        border-radius: 50px;
        border: 3px solid #0000d3;
        transition: all ease-in-out 500ms;
        text-align: center;
        &:hover {
            background-color: #0000d3;
            color: #fffdf9;
            transition: all ease-in-out 500ms;;
        }
    }
}

@media (max-width: 35em) {
    .hero {
        display: block;
        .hero-infos {
        text-align: center;
    }
        h1 {
            font-size: 3rem;
            text-align: center;
        }
        a {
            margin-block-start: 3rem;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 60em) {
    .hero {
        display: block;
        padding-block: 2.5rem;
        h1 {
            font-size: 3rem;
            text-align: center;
        }
        a {
            margin-block-start: 2rem;
            display: flex;
            justify-content: center;
        }
        img {
            width: 60%;
            margin: 0 auto;
        }
        .about-me-btn {
            padding-inline: 2rem;
        }
    }
}