.project-details {
    margin-block: 2rem;

    .dog-profile {
        display: grid;
        grid-template-columns: 25rem 25rem 25rem;
        gap: 1.5rem;
        margin-block: 2rem;
        justify-content: center;
    }

    .project-text {
        display: grid;
        grid-template-columns: repeat(2, 25rem);
        gap: 1rem;
        justify-content: center;
    }

    .return-link {
        margin-block-start: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-weight: 700;
        a {
        text-decoration: none;
        font-size:1rem;
        padding-block: 1rem;
        padding-inline: 2rem;
        border-radius: 50px;
        border: 3px solid #0000d3;
        transition: all ease-in-out 500ms;
        text-align: center;
        &:hover {
            background-color: #0000d3;
            color: #fffdf9;
            transition: all ease-in-out 500ms;;
        }
    }
        .full-btn {
            background-color: #ff5500;
            color: #fffdf9;
            border: none;
            transition: all ease-in-out 500ms;
        }
        .full-btn:hover {
           background-color: #fffdf9; 
           color: #ff5500;
           border: 3px solid #ff5500;
           transition: all ease-in-out 500ms;
        }
    }
}

.number-projects {
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
}

@media (max-width:35em) {
    .project-details {
        text-align: center;
        margin-inline-start: 1rem;
        .dog-profile, .project-text {
            display: block;
            text-align: center;
            img {
                margin-block: 1.5rem;
            }
            p {
                margin-block: 1.5rem;
            }
        }
        .palette {
            display: none;
        }
        .return-link {
            flex-direction: column;
        }
    }
}

@media (max-width:65em) {
    .project-details {
        text-align: center;
        margin-inline-start: 1rem;
        .dog-profile, .project-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-inline-end: .5rem;
            .grid-three{
                    width: 80%;
                }
            .grid-four{
                    width: 80%;
                }
            img {
                margin-block: 1.5rem;
            }
            p {
                margin-block: 1.5rem;
            }
        }
        .palette {
            display: none;
        }
        .return-link {
            gap: 1rem;
        }
    }
}