.projects {  
    margin-inline: 4rem;
    h1{
        margin-inline-start: 2rem;
        font-weight: 700;
    }
    h3{
        padding-block-start: 1rem;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }
    .number-projects {
        font-family: inherit;
        font-size: 2rem;
        color: #ff5500;
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 35rem;
        }
        .large {
            height: 85%;
        }
    }
}
.projects-ui {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2rem;
    text-align: left;
}

@media (max-width: 35em) {
    .projects {
        margin-block:3rem;
        margin-inline: 1rem;
        h1{
            margin-inline-start: 0;
            text-align: center;
            font-weight: 700;
        }
        h3 {
            text-align: center;
            font-weight: 700;
        }
       .projects-ui {
        display: grid;
        grid-template-columns: none;
        .projects-title {
            margin-block: 1rem;
            font-weight: 700;
        }
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 35rem;
        }
        .large {
            width: 100%;
            height: 80%;
            }
        } 
    } 
}

@media (max-width: 60em) {
    .projects {
        margin-block:3rem;
        margin-inline: none;
        h1{
            margin-inline-start: 0;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
       .projects-ui {
        display: grid;
        grid-template-columns: none;
        .projects-title {
            margin-block: 1rem;
        }
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 35rem;
        }
        .large {
            width: 100%;
            height: 85%;
            }
        } 
    } 
}
