.grid-column {
    display: grid;
    grid-template-columns: minmax(0, 31em) minmax(0, 31em);
    justify-content: center;
    gap: 10rem;
    margin-block-end: 4rem;
    svg {
        width: 3rem;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    .education {
        margin-block-end: 2rem;
        summary {
            font-weight: 800;
            font-size: 1.17rem;
            font-weight: 700;
        }
        h2 {
                margin-block-end: 1rem;
        }
        h3 {
            margin-block: 1rem;
        }
        ul {
            margin-block-end: 1.8rem;
        }
        .formation {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .infos{
                padding-inline-start: 1rem;
            }
        }
    }
    .experiences {
        summary {
            font-weight: 800;
            font-size: 1.17rem;
            font-weight: 700;
        }
        h2 {
                margin-block-start: 1rem;
        }
        .work-experience {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .infos{
                padding-inline-start: 1rem;
            }
        }
        .project-tiles{
            display: flex;
            gap: 1rem;
            .project-1, .project-2{
                width: 95%;
                transition: all ease-in-out 500ms;
                &:hover {
                    width: 100%;
                    transition: all ease-in-out 500ms;
                }
            }
        }
        .full-btn {
            background-color: #ff5500;
            color: #fffdf9;
            border: none;
            transition: all ease-in-out 500ms;
        }
        .full-btn:hover {
           background-color: #fffdf9; 
           color: #ff5500;
           border: 3px solid #ff5500;
           transition: all ease-in-out 500ms;
        }
        .project-resume-section {
            h2 {
                text-align: left;
            }
            text-align: end;
            a {
                text-decoration: none;
                font-size:1rem;
                font-weight: 600;
                padding-block: 1rem;
                padding-inline: 2rem;
                border-radius: 50px;
                transition: all ease-in-out 500ms;
                &:hover {
                    transition: all ease-in-out 500ms;;
                }  
        }
        
    }
    }
    .tech, .soft-skills, .experiences {
        h3 {
            margin-block: 1rem;
            font-weight: 700;
        }
        ul {
            margin-block-end: 1.8rem;
        }
        .soft-skills-infos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .soft-skills-word {
                margin-block-end: 1rem;
                margin-inline-end: 1rem;
                text-align: center;
                font-weight: 700;
                font-size: 1rem;
                padding-block: .5rem;
                padding-inline: 1.5rem;
                border-radius: 50px;
                border: 2px solid #fffdf9;
            }
            .orange {
                background-color: #ff5500;
                color: #fffdf9;
            }
            .pink {
                border: 2px solid #ff5500;
            }
            .purple {
                border: 2px solid #0000d3;
                color: #ff5500;
            }
        }
    }
    .code-tech, .creativ-tech {
        display: flex;
        justify-content: space-between;
        margin-block-end: 2rem;
    }
}

@media (max-width: 35em) {
    .grid-column {
        display: block;
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .code-tech, .creativ-tech {
            justify-content: center;
            gap: 2rem;
        }
        .education {
            .formation {
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 45em) {
    .grid-column {
        display: block;
        h2 {
            font-size: 2.5rem;
        }
        .code-tech, .creativ-tech {
            justify-content: center;
            gap: 2rem;
        }
        .education {
            .formation {
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 60em) {
    .grid-column {
        display: block;
        text-align: center;
        padding-inline: 1rem;
        h2 {
            font-size: 2.5rem;
        }
        .code-tech, .creativ-tech {
            justify-content: center;
            gap: 2rem;
        }
        .education {
            .formation {
                align-items: center;
                text-align: center;
            }
        }
    }
}