.about {
    display: grid;
    grid-template-columns: minmax(0, 40em) minmax(0, 30em);
    justify-content: center;
    padding-block-end: 10rem;
    h1 {
        font-size: 5.5rem;
    }
    .about-infos {
        padding-block-start: 2rem;
        display: flex;
        flex-direction: column;
        div {
            margin-block-start: 2rem;
        }
    }
    h3 {
        font-weight: 800;
        display: flex;
    }
    span {
        padding-inline-end: .5rem;
    }
    .under {
        padding-inline-start: 2.3rem;
    }
}

@media (max-width: 35em) {
    .about {
        display: block;
        h1 {
            text-align: center;
            font-size: 3.5rem;
        }
    }
}

@media (max-width: 60em) {
    .about {
        display: block;
        padding-block: 5rem;
        h1 {
            font-size: 3.5rem;
        }
    }
}