.hero {
    padding-block-start: 10rem;
    display: grid;
    grid-template-columns: minmax(0, 30rem) minmax(0, 50rem);
    justify-content: center;
    padding-block-end: 10rem;
    h1 {
        font-size: 7rem;
        margin-block-end: 1.25rem;
    }
    img {
        width: 100%;
        border-radius: 45%;
    }
    a {
        text-decoration: none;
        font-weight: 800;
        font-size:1.2rem;
        padding-block: 1rem;
        padding-inline: 1.5rem;
        border-radius: 50px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.153);
        backdrop-filter: blur(14.9px);
        -webkit-backdrop-filter: blur(14.9px);
        &:hover {
            background: rgba(255, 255, 255, 0.098);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(14.9px);
            -webkit-backdrop-filter: blur(14.9px); 
        }
    }
}