.hero {
    padding-block-start: 10rem;
    display: grid;
    grid-template-columns: minmax(0, 30rem) minmax(0, 40rem);
    justify-content: center;
    padding-block-end: 10rem;
    h1 {
        font-size: 4.5rem;
        margin-block-end: 4rem;
        min-width: 6rem;
    }
    img {
        width: 80%;
        border-radius: 45%;
    }
    a {
        text-decoration: none;
        font-weight: 800;
        font-size:1.2rem;
        padding-block: 1rem;
        padding-inline: 3.5rem;
        border-radius: 50px;
        border: 1px solid #C1FF72;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.153);
        backdrop-filter: blur(14.9px);
        -webkit-backdrop-filter: blur(14.9px);
        transition: all ease-in-out 300ms;
        &:hover {
            background: #C1FF72;
            color: #152039;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(14.9px);
            -webkit-backdrop-filter: blur(14.9px); 
            transition: all ease-in-out 300ms;
        }
    }
}

@media (max-width: 35em) {
    .hero {
        display: block;
        h1 {
            font-size: 3rem;
            text-align: center;
        }
        a {
            margin-block-start: 3rem;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 60em) {
    .hero {
        display: block;
        padding-block: 5rem;
        h1 {
            font-size: 3rem;
            text-align: center;
        }
        a {
            margin-block-start: 3rem;
            display: flex;
            justify-content: center;
        }
        img {
            width: 60%;
            margin: 0 auto;
        }
    }
}