/*reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #E893C5, #CBD8E8, #EBB2C3);
    background-repeat: no-repeat;
    color: #1E0F75;
    margin-inline: 6.25rem;
    a {
        font-family: inherit;
        color: inherit;
    }
    h1, h2 {
        font-family: 'Abril Fatface', serif;
    }
    footer {
      margin-block-start: 4rem;
      padding-block: 5rem;
      border-top: 2px solid #1e0f75;
      text-align: center
    }
  }

  .dark {
    background: linear-gradient(180deg, #BF8CE1, #1e0f75);
    background-repeat: no-repeat;
    color: #CBD8E8;
    footer {
      border-top: 2px solid #CBD8E8;
    }
    svg path {
      fill: #CBD8E8;
    }
    .creativ-tech {
      color: #CBD8E8;
    }
    .soft-skills-infos {
      color: #1E0F75
    }
  }

  @import 'header';
  @import 'hero';
  @import 'about';
  @import 'resume';
  @import 'projects';
  @import 'projects-pages';