/*reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    font-family: 'Quicksand';
    background-color: #fffdf9;
    background-repeat: no-repeat;
    color: #0000d3;
    main {
      margin-block-start: 3rem;
    a {
        font-family: inherit;
        color: inherit;
    }
    h1, h2 {
        font-family: 'Quicksand';
        font-weight: 700;
        text-transform: uppercase;
    }
  }
    footer {
      background-color: #EFEFEF;
      padding: 3rem;
      border-top: 2px solid #0000d3;
      display: grid;
      grid-template-columns: minmax(0, 30em) minmax(0, 30em);
      justify-content: center;

    .contact {
        .contact-infos {
            list-style: none;
            padding: 0;
        }
    }
    .social-media {
            display: flex;
            justify-content: center;
            gap: 2rem;
            svg {
              width: 2rem;
            }
    }
  }
}
  @media (max-width: 35em) {
    body{
      main {
      margin-inline: 1rem;
      text-align: center;
      margin-block-start: 0;
    }
    footer {
      display: block;
      padding-inline: 2rem;
      p, section, div {
        padding-block-end: .75rem;
        text-align: center;
      }
      .social-media {
        justify-content: center;
        padding-top: 1rem;
        gap: 1.5rem;
          svg {
            width: 2rem;
          }
      }
    }
  }
}

  @import 'header';
  @import 'hero';
  @import 'about';
  @import 'resume';
  @import 'projects';
  @import 'projects-pages';