.projects {
    margin-block-start: 8rem;
    .number-projects {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #C1FF72;
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 35rem;
        }
        .large {
            height: 79%;
        }
    }
}
.code-projects, .projects-ui {
    margin-block: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
    text-align: center;
}

@media (max-width: 35em) {
    .code-projects, .projects-ui {
        display: grid;
        grid-template-columns: none;
        .projects-title {
            margin-block: 2rem 1rem;
        }
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 35rem;
        }
        .large {
            width: 100%;
            height: 100%;
        }
    }
    
}
