.projects {
    margin-block-start: 8rem;
    .number-projects {
        font-family: 'Abril Fatface', serif;
        font-size: 2rem;
    }
    .code-projects {
        margin-block: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        text-align: center;
        gap: 2rem;
    
        .projects-title {
            margin-block: 2rem 1rem;
        } 
    }
    .projects-ui {
        margin-block: 4rem;
        img {
            width: 20rem;
        }
    }
}
