/*reset*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, #E893C5, #CBD8E8, #EBB2C3);
  background-repeat: no-repeat;
  color: #1E0F75;
  margin-inline: 6.25rem;
}
body a {
  font-family: inherit;
  color: inherit;
}
body h1, body h2 {
  font-family: "Abril Fatface", serif;
}
body footer {
  margin-block-start: 4rem;
  padding-block: 5rem;
  border-top: 2px solid #1e0f75;
  text-align: center;
}

.dark {
  background: linear-gradient(180deg, #BF8CE1, #1e0f75);
  background-repeat: no-repeat;
  color: #CBD8E8;
}
.dark footer {
  border-top: 2px solid #CBD8E8;
}
.dark svg path {
  fill: #CBD8E8;
}
.dark .creativ-tech {
  color: #CBD8E8;
}
.dark .soft-skills-infos {
  color: #1E0F75;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.875rem;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
header .logo {
  width: 7.5rem;
  height: 5rem;
}
header .switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 1.75rem;
}
header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BF8CE1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #CBD8E8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header input:checked + .slider {
  background-color: #1e0f75;
}
header input:focus + .slider {
  box-shadow: 0 0 0.063rem #BF8CE1;
}
header input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
header .slider.round {
  border-radius: 2.125rem;
}
header .slider.round:before {
  border-radius: 50%;
}

.hero {
  padding-block-start: 10rem;
  display: grid;
  grid-template-columns: minmax(0, 30rem) minmax(0, 40rem);
  justify-content: center;
  padding-block-end: 10rem;
}
.hero h1 {
  font-size: 6rem;
  margin-block-end: 1.25rem;
  margin-block-end: 4rem;
}
.hero img {
  width: 80%;
  border-radius: 45%;
}
.hero a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
  padding-block: 1rem;
  padding-inline: 3.5rem;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1137254902);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.153);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  transition: all ease-in-out 300ms;
}
.hero a:hover {
  background: rgba(255, 255, 255, 0.265);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  transition: all ease-in-out 300ms;
}

@media (max-width: 35em) {
  .hero {
    display: block;
  }
  .hero h1 {
    font-size: 3rem;
    text-align: center;
  }
  .hero a {
    margin-block-start: 3rem;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 60em) {
  .hero {
    display: block;
    padding-block: 5rem;
  }
  .hero h1 {
    font-size: 3rem;
    text-align: center;
  }
  .hero a {
    margin-block-start: 3rem;
    display: flex;
    justify-content: center;
  }
  .hero img {
    width: 60%;
    margin: 0 auto;
  }
}
.about {
  display: grid;
  grid-template-columns: minmax(0, 40em) minmax(0, 30em);
  justify-content: center;
  padding-block-end: 10rem;
}
.about h1 {
  font-size: 5.5rem;
}
.about .about-infos {
  padding-block-start: 2rem;
  display: flex;
  flex-direction: column;
}
.about .about-infos div {
  margin-block-start: 2rem;
}
.about h3 {
  font-weight: 800;
  display: flex;
}
.about span {
  padding-inline-end: 0.5rem;
}
.about .under {
  padding-inline-start: 2.3rem;
}

@media (max-width: 35em) {
  .about {
    display: block;
  }
  .about h1 {
    text-align: center;
    font-size: 3.5rem;
  }
}
@media (max-width: 60em) {
  .about {
    display: block;
    padding-block: 5rem;
  }
  .about h1 {
    font-size: 3.5rem;
  }
}
.grid-column {
  display: grid;
  grid-template-columns: minmax(0, 30em) minmax(0, 30em);
  justify-content: center;
  gap: 10rem;
}
.grid-column svg {
  width: 3rem;
}
.grid-column .social-media {
  display: flex;
  justify-content: space-around;
}
.grid-column h2 {
  font-size: 3.5rem;
}
.grid-column .education, .grid-column .contact {
  margin-block-end: 2rem;
}
.grid-column .education h3, .grid-column .contact h3 {
  margin-block: 1rem;
}
.grid-column .education ul, .grid-column .contact ul {
  margin-block-end: 1.8rem;
}
.grid-column .tech, .grid-column .soft-skills, .grid-column .experiences {
  margin-block: 2rem;
}
.grid-column .tech h3, .grid-column .soft-skills h3, .grid-column .experiences h3 {
  margin-block: 1rem;
}
.grid-column .tech ul, .grid-column .soft-skills ul, .grid-column .experiences ul {
  margin-block-end: 1.8rem;
}
.grid-column .tech .soft-skills-infos, .grid-column .soft-skills .soft-skills-infos, .grid-column .experiences .soft-skills-infos {
  display: grid;
  grid-template-columns: 10rem 10rem;
}
.grid-column .tech .soft-skills-infos .soft-skills-word, .grid-column .soft-skills .soft-skills-infos .soft-skills-word, .grid-column .experiences .soft-skills-infos .soft-skills-word {
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
  text-align: center;
  font-weight: 800;
  font-size: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3960784314);
}
.grid-column .tech .soft-skills-infos .orange, .grid-column .soft-skills .soft-skills-infos .orange, .grid-column .experiences .soft-skills-infos .orange {
  background-color: #EBB2C3;
}
.grid-column .tech .soft-skills-infos .pink, .grid-column .soft-skills .soft-skills-infos .pink, .grid-column .experiences .soft-skills-infos .pink {
  background-color: #E893C5;
}
.grid-column .tech .soft-skills-infos .purple, .grid-column .soft-skills .soft-skills-infos .purple, .grid-column .experiences .soft-skills-infos .purple {
  background-color: #BF8CE1;
}
.grid-column .code-tech, .grid-column .creativ-tech {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2rem;
}

@media (max-width: 35em) {
  .grid-column {
    display: block;
  }
  .grid-column h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 55em) {
  .grid-column {
    display: block;
  }
  .grid-column h2 {
    font-size: 2.5rem;
  }
}
.projects {
  margin-block-start: 8rem;
}
.projects .code-projects {
  margin-block: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;
}
.projects .code-projects .number-projects {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}
.projects .code-projects .projects-title {
  margin-block: 2rem 1rem;
}

/*# sourceMappingURL=style.css.map */
